body {
    background-color: #FFB2A6;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
main {
    height: 90%;
}
nav {
    display: flex;
    height: 50px;
    overflow: hidden;
    background-color: #FFDEFA;
    border-radius: 20px;
}
.mygtukasPas {
    align-self: center;
    height: 50px;
    width: 150px;
    margin-left: 10px;
    background-color: #D6E5FA;
    border-radius: 100px;
    cursor: pointer;
    user-select: none;
}
.navImg{
    width: 50%;
    justify-content: flex-start;
}
.navImg img{
    position: absolute;
    width: 100px;
    margin-left: 20px;
    justify-content: flex-start;
}

.navButton{
    display: flex;
    width: 50%;
    justify-content: end;
    padding-right: 10px;
}

.deliojimas{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 70%;
}
.deliojimas img{
    cursor: pointer;
    width: 25vw;
    min-width: 200px;
    transition: 0.5s;
}
.deliojimas button{
    position: absolute;
    font-size: 1.5vw;
    width: auto;
    height: auto;
    user-select: none;
    cursor: pointer;
    background-color: #D6E5FA;
    border-style: solid;
    border-radius: 100px;
}
.deliojimas img:hover{
    cursor: pointer;
    width: 28vw;
    transition: 0.5s;
}
.deliojimas img::after{
    cursor: pointer;
    width: 25vw;
    transition: 0.5s;
}


#Top3 {
    margin-top: 50px;
    padding: 1%;
    color: black;
    line-height:1em;
    font-size: 3vw;
    text-align: center;
    display: block;
}
.pasiulymai{
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    height: 30%;
}
.imgpasiulymas{
    width: 30vw;
}
#pasiulymas1{
    width: 30%;
}
#pasiulymas2{
    width: 30%;
}
#pasiulymas3{
    width: 30%;
}
#ikona{
    width: 120px;
}
.pasiulmoTekstas{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
}

footer {
    display: flex;
    height: 50px;
    background-color: #FFDEFA;
}
#PizzaFitName {
    background-color: #FFDEFA;
    color: black;
    font-size: 30px;
    padding: 10px;
}
.kontaktai{
    background-color: #FFDEFA;
    color: black;
    padding: 10px;
}


.VirsutinisMygtukasIrNuoroda {
    cursor: pointer;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: 10px;
    background-color: #FFDEFA;
    border-radius: 100px;
  }
a{
    color: black;
}

  .Sarasas{
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: black;
  }
  ol{
    width: 50%;
    list-style-type: none;
    background-color: #FFDEFA;
  }
  ul{
    background-color: #FFB2A6;
    list-style-type: none;
    margin: 10px;
  }

  .icon{
    width: 30px;
  }
  .iconButton{
    margin-top: 20px;
    display: flex;
    width: 130px;
    justify-content: center;
    text-align: center;
    justify-items: center;
    align-items: center;
    border-radius: 100px;
  }


  .topimg{
    height: 90%;
    background-color: #FFDEFA;
    border-radius: 100px;
}